<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Device statistic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A6F481F81C01E87B00B2BDF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6F482101C01E87B00B2BDF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6F4821B1C01E87B00B2BDF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
